.imageContainer {
  display: flex;
  align-items: center;
  justify-self: center;
}

.card {
  background: var(--background-grey);
  border-radius: 0px;
  padding: 0 12rem;
}

/* Media Queries para ajuste de colunas em telas menores */
@media (max-width: 1024px) {
  .card {
    padding: 0 12rem;
  }
}

@media (max-width: 600px) {
  .card {
    padding: 0;
  }
}