.container {
  display: grid;
  grid-template-columns: 296px 1fr;
  gap: 2rem;
  padding: 2rem;
  max-width: 1280px;
  margin: 0 auto;
}

.sidebar {
  /* No specific width needed here as it's defined in the grid */
}

.mainContent {
  width: 100%;
}

/* Media Queries for smaller screens */
@media (max-width: 1012px) {
  /* GitHub's breakpoint */
  .container {
    grid-template-columns: 1fr; /* Single column */
    padding: 1rem;
  }
}
