
.projetos {
  display: grid;
  vertical-align: middle;
  align-self: center;
  grid-template-columns: auto auto auto; /* 3 colunas, cada uma com 1fr */
  gap: 16px; /* Espaçamento entre os blocos */ 
  padding: 16px; /* Espaçamento interno */
  justify-self: center;
  align-items: center;
}
.card{
  background: var(--background-grey);
  margin: 12px;
  height: 100%;
  width: 480px;
}