.titleh1 {
  display: flex;
  justify-content: center;
}
.projetos {
  display: grid;
  vertical-align: middle;
  align-self: center;
  grid-template-columns: auto auto; /* 2 colunas, cada uma com 1fr */
  gap: 16px; /* Espaçamento entre os blocos */
  padding: 16px; /* Espaçamento interno */
  justify-self: center;
  align-items: center;
}
.footerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem;
}
.card {
  background: var(--background-grey);
  margin: 12px;
  height: 100%;
  width: 480px;
}

@media screen and (min-width: 1200px ) and (min-width: 1366px ) {
  .projetos {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 390px){
  .projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .card {
    margin: 12px;
    height: 100%;
    width: 380px;
  }
}