.pinnedContainer {
  margin-top: 2rem;
}

.title {
  color: var(--title-green-color);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
