:root {
  --column-width: 24px;
}

.hudContent {
  display: flex;
}

.mainContent {
  margin-left: 0px;
  /* Adicionar margem para empurrar o conteúdo para a direita */
  padding-left: 0px;
  /* Adicionar algum espaçamento interno */
  width: 100vw;
}
