:root {
  --title-green-color: #2cb67d;
  --background-grey: #27282c;
  --efects-purple: #7f5af0;
  --component-background-grey: #94a1b2;
  --font-in-component: #010101;
}
body {
  background-color: #16161a;
}

h1 {
  font-size: 64px;
  color: #2cb67d;
}

div {
  color: #94a1b2;
}
button {
  background-color: #27282c;
}

button:hover {
  cursor: pointer;
}
p {
  font-size: large;
}
