.componentEmail{
  display: flex;
  justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    margin: 15vh 30vw;
}

.formEnviarEmail{
  display: flex;
  padding: 2px;
  font-size: larger;
  flex-direction: column;
  align-items: center;
}

.formEnviarInput{
  margin: 6px;
}