@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Play:wght@400;700&display=swap');


:root {
  --title-green-color: #1E9985;
  --title-purple-color: #8b5eb5;
  --background-grey: #27282c;
  --background-color-dark: #16161a;
  --efects-purple: #8b5eb5;
  --efects-green: #1E9985;
  --component-background-grey: #94a1b2;
  --font-in-component: #010101;

  /* GitHub Dark Theme Colors */
  --gh-dark-bg-default: #0d1117;
  --gh-dark-bg-muted: #151b23;
  --gh-dark-fg-default: #f0f6fc;
  --gh-dark-fg-muted: #9198a1;
  --gh-dark-border-default: #3d444d;
  --gh-dark-accent-fg: #4493f8;
  --gh-dark-accent-emphasis: #1f6feb;
}
.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.play-regular {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.play-bold {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
}


body {
  background-color: var(--gh-dark-bg-muted);
  font-family: "Jersey 25", sans-serif;
}

h1 {
  font-family: "Play", sans-serif;
  font-size: 64px;
  color: var(--title-green-color);
}
h2 {
  font-family: "Play", sans-serif;
  color: var(--title-green-color);
}

div {
  color: #94a1b2;
}
button {
  background-color: #27282c;
}

button:hover {
  cursor: pointer;
}
p {
  font-size: large;
}
