.profileContainer {
  padding: 2rem;
  border-radius: 8px;
  background-color: #0d1117; /* Cor de fundo similar ao GitHub */
  color: #c9d1d9; /* Cor de texto similar ao GitHub */
  border: 1px solid #30363d;
  margin-bottom: 2rem;
}
